<div [hidden]="loading">
  <div *ngIf="!songData">
    <h1 class="cover-heading">Generate a new track</h1>
    <p class="lead">Trying to write a new track but not feeling inspired? Let me help.</p>
    <p class="lead">
      <button class="btn btn-lg btn-secondary" (click)="getSong()">Generate</button>
    </p>
  </div>
  <div *ngIf="songData">
    <div *ngIf="displaySong">
      <p class="text-left"><b>Progression:</b> {{humanProgression}}</p>
      <p class="text-left"><b>Melody:</b></p>
      <stave [notes]="songData.melodyString" [key]="key"></stave>
      <audio id="audio" [src]="songData.fileName" controls autoplay>
        <p>I'm sorry but your browser doesn't support the <code>audio</code> element, so you can't run the demo. You can still download the generated song.</p>
      </audio>
    </div>
    <p style="padding-top:15px">
      <button class="btn btn-secondary" (click)="resetSong()">New Song</button>
      <a class="btn btn-secondary" target="_self" [href]="songData.fileName" [download]="songData.fileName">Download</a>
      <button class="btn btn-secondary" (click)="clear()">Reset</button>
    </p>
  </div>
</div>
<div [hidden]="!loading">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>
