<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Rock Generator</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
            <a class="nav-link" [routerLink]="['/how-it-works']" routerLinkActive="active">How it Works</a>
            <a class="nav-link" [routerLink]="['/get-involved']" routerLinkActive="active">Get Involved</a>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <router-outlet></router-outlet>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>All tracks generated are yours, by <a href="https://twitter.com/samjeston" target="_blank">Sam Jeston</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
