<div class="text-left">
  <p>Two key signatures are available - A Major and A Minor. One of these is chosen at random.</p>
  <p>Depending on the key signature chosen, a common chord progression for the generated track is selected. The current chord progression possibilities are:</p>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <b>Major Progressions</b>
      </p>
      <ul>
        <li>I - I - iv - V</li>
        <li>I - iii - V - iv</li>
        <li>I - IV - V - IV</li>
        <li>iv - V - I - iii</li>
        <li>I - V - vi - IV</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <p>
        <b>Minor Progressions</b>
      </p>
      <ul>
        <li>i - III - VII - VII</li>
        <li>i - v - iv - III</li>
        <li>i - v - VII - VI</li>
        <li>i - VI - VII - VII</li>
        <li>i - VI - VII - i</li>
      </ul>
    </div>
  </div>
  <p>A pre-recorded guitar and bass track that fit this progression are chosen at random. A random drum track is also included.</p>
  <p>The melody is randomly generated based on the arpeggio on the current chord. The rhythm of the melody is also random.</p>
  <p>And thats it! Programmitcally generated music snippets are created.</p>
</div>
